*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    color: black;
}
header{
    background-color: black;

}
h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    
}

h2{
    text-align: center;
    padding: 20px  ;
    font-size: 2rem;
    color: rgb(144, 0, 255);
}
#nam{
    color: rgb(164, 77, 246);
}


.cent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.cent li a{
    text-decoration: none;
    color: black;
}
.cent li {
    list-style-type: none;
    font-size: 1.4rem;
    font-weight: bolder;
    padding: 5px 10px;
}

#img{
    width: 70px;
    padding: 20px 35px;
    display: flex;
}

#image{
    width: 70px;
    padding: 20px 75px;
    display: flex;
}
#sec{
    width: 70px;
    padding: 20px 35px;
    display: flex;
}


main{
    display: flex;
    justify-content: space-around;
}